body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x:hidden;
    box-sizing: border-box;
}

header {
    background-color: #5A231C;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
}

header h1 {
    border: 6px solid black;
    display: inline-block;
    padding: 4px 6px;
    border-radius: 10px;
    margin: 12px 0px;
}

.banner {
    position: relative;
    bottom: -4px;
}

.banner img {
    max-width: 100%;
}

.banner .welcome {
    padding: 30px;
    background-image: linear-gradient(to bottom right, #5A231C, #491710);
    position: absolute;
    bottom: 20%;
    border: 10px solid black;
}

.banner h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 50px;
}

.banner h2 span {
    font-size: 1.3em;
}

nav {
    max-width: 100%;
    background-color: lightgray;
    padding: 20px;
    position: sticky;
    top: 8.5%;
    text-align: center;
}

nav ul {
    white-space: nowrap;
    max-width: 100%;
}

nav li {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin: auto 2%;
}

nav li a{
    text-decoration: none;
    color: #953BFE;
}

nav li a.join {
    color: #FF0000;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0px 40px;
    box-sizing: border-box;
}

main li {
    list-style-type: none;
}

main li img {
    max-width: 100%;
}

article h2 {
    color: #FF0000;
    font-size: 48px;
}

article p {
    line-height: 2em;
    color: #4b4b4b;
    font-size: 20px;
    text-align: justify;
}

.images {
    white-space: nowrap;
    text-align: center;
    margin: 10px 0;
    white-space: nowrap;

}

.images li {
    display: inline-block;
    max-width: 40%;
    margin: 10px 5%;
}

section.join {
    background-color: rgb(241, 238, 238);
    text-align: center;
    padding: 30px 20px;
    color: #4b4b4b;
}

.join h2{
    font-size: 36px;
}

footer {
    background-color: #5A231C;
    padding: 1px;
    text-align: center;
}

nav li a:hover{
  text-decoration: underline;  
}

.images li:hover {
    position: relative;
    top: -4px;
}

form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 20px;
    max-width: 100%;
    border-radius: 24px;
    border: 4px solid white;
    outline: none;
    box-sizing: border-box;
}

form input::placeholder{
    text-align: center;
}

form input:focus {
    border: 4px dashed black ;
}

form input:valid {
    border: 4px solid #71d300;
}

@media screen and (max-width: 1150px) {
    header {
        height: 60px;
    }
    
    header h1 {
        border: 4px solid black;
        display: inline-block;
        padding: 2px 4px;
        border-radius: 10px;
        margin: 5.5px;
    }

    .banner .welcome {
        padding: 15px;
    }

    .banner h2 {
        font-size: 40px;
    }

    nav {
        top: 6.4%;
    }

    nav li {
        font-size: 24px;
    }

}

@media screen and (max-width: 1000px) {
    header {
        height: 50px;
    }

    header h1 {
        border: 4px solid black;
        display: inline-block;
        padding: 2px 4px;
        border-radius: 10px;
        margin: 4.5px;
        font-size: 25px;
    }

    .banner .welcome{
        padding: 6px;
    }

    .banner h2 {
        font-size: 35px;
    }
    nav {
        top: 5.3%;
    }

    article h2 {
        color: #FF0000;
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 45px;
    }

    header h1 {
        border: 3px solid black;
        display: inline-block;
        padding: auto 4px;
        border-radius: 10px;
        margin: 3px;
        font-size: 25px;
    }

    .banner .welcome{
        position: relative;
        top: -4px;
        border: none;
    }

    .banner h2 {
        font-size: 35px;
        text-align: center;
        display: block;
        padding: 8px;
    }

    .welcome br {
        display: none;
    }

    .welcome h2 span{
        font-size: 1.05em;
    }

    nav{ 
        top: 45px;
    }

    nav li a {
        font-size: 20px;
    }
    .images li {
        display: block;
        max-width: 100%;
    }

    article h2 {
        color: #FF0000;
        font-size: 35px;
    }

    article p {
        font-size: 17px;
    }
}

@media screen and (max-width: 660px) {
    nav li a {
        font-size: 17px;
    }
}